<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About PM-Delete</h2>
            <p>Does this sound like you?</p>
            <ul>
                <li>Out of space in your private messages?</li>
                <li>Can't send messages to your friends?</li>
                <li>Don't want to manually erase tons of messages?</li>
                <li>Have no convenient way to mass-delete the messages?</li>
                <li>For no apparent reason?</li>
                <li>Or maybe "because if you messed up, you would complain to the site owner a lot?"</li>
            </ul>
            <h3>Help has arrived!</h3>
        </div>
<%- include('./partials/footer.ejs') %>