<%- include('./partials/head.ejs') %>

<%- include('./partials/nav.ejs') %>

        <div class="blogs content">
            <h2>Fake Message Maker</h2>
        </div>
        <div class="spacer"></div>
        <div class="content">
            <h3>Instructions</h3>
            <p>It's pretty simple. You put your email and press 'Fake It.' You will get a bunch of fake messages.</p>
            <div class="spacer"></div>
            <p><strong>For development purposes only--remove later</strong></p>
        </div>
        <div class="spacer"></div>

        <!-- <div class="create-blog content">
            <form action="/send-msg" method="POST">
               <label for="email">My email:</label>
               <input type="text" id="email" name="email" required>
               <button type="submit">Fake It</button>
            </form>
       </div> -->

       
            <div class="content create-blog">
                <form action="/fake-msg" method="POST">
                <label for="target-user">Send fakes to (user):</label>
               <input type="text" id="targetUser" name="targetUser" required>
               <label for="target-user">How many messages to send:</label>
                <input type="number" name="numMessages" required>
                <button id="createFake" type="submit">Create Fake Messages</button>
            </form>
            
            </div>
       
       
<%- include('./partials/footer.ejs') %>