<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About PM-Delete</h2>
            <p>We are working on your request.</p>
            <div class="spacer"></div>
             <a href="/">Home</a>
        </div>
<%- include('./partials/footer.ejs') %>